<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">Listado de todas las calafias dadas de alta en el sistema</h5>
                    <h4 class="card-title"> Calafias</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th >
                            Ubicacion
                        </th>
                        <th >
                            Calafia
                        </th>
                        <th >
                            Placas
                        </th>
                        <th >
                            Conductor
                        </th>
                        <th  class="text-right" >
                            Fecha
                        </th>
                        </thead>
                        <tbody>
                        <tr >
                            <td >
                            Zona Rio
                            </td>
                            <td >
                                Calafia 1
                            </td>
                            <td >
                                XGAVG26
                            </td>
                            <td >
                                Chofer 1
                            </td>
                            <td  class="text-right" >
                            01/03/2018 01:48:12 PM
                            </td>
                        </tr>
                        <tr >
                            <td >
                            Matamoros
                            </td>
                            <td >
                                Calafia 2
                            </td>
                            <td >
                                JHGTYU9
                            </td>
                            <td >
                                Chofer 4
                            </td>
                            <td  class="text-right" >
                                01/03/2018 01:31:25 PM
                            </td>
                        </tr>
                        <tr >
                            <td >
                            Zona Centro
                            </td>
                            <td >
                                Calafia 3
                            </td>
                            <td >
                                LKIO78G
                            </td>
                            <td >
                                Chofer 2
                            </td>
                            <td  class="text-right" >
                                01/03/2018 01:08:16 PM
                            </td>
                        </tr>
                        <tr >
                            <td >
                            Zona Rio
                            </td>
                            <td >
                                Calafia 1
                            </td>
                            <td >
                                23RGFDY
                            </td>
                            <td >
                                Chofer 5
                            </td>
                            <td  class="text-right" >
                                28/02/2018 09:12:52 AM
                            </td>
                        </tr>
                        <tr >
                            <td >
                            Matamoros
                            </td>
                            <td >
                                Calafia 2
                            </td>
                            <td >
                                LKGT78T
                            </td>
                            <td >
                                Chofer 8
                            </td>
                            <td  class="text-right" >
                                28/02/2018 07:08:58 AM
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>