<div class="row">
    <div class="col-md-12">
        <div class="card card-stats card-raised">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="statistics">
                            <div class="info">
                                <div class="icon icon-primary">
                                    <i class="now-ui-icons ui-1_bell-53"></i>
                                </div>
                                <h3 class="info-title"><span id="span_current">185.7 lb</span></h3>
                                <h6 class="stats-title">Current Weight</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="statistics">
                            <div class="info">
                                <div class="icon icon-success">
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </div>
                                <h3 class="info-title"><span id="span_max_loss">5.7 lb</span></h3>
                                <h6 class="stats-title">Total loss</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="statistics">
                            <div class="info">
                                <div class="icon icon-info">
                                    <i class="now-ui-icons arrows-1_minimal-up"></i>
                                </div>
                                <h3 class="info-title"><span id="span_max_gain">0 lb</span></h3>
                                <h6 class="stats-title">Total gain</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="statistics">
                            <div class="info">
                                <div class="icon icon-success">
                                    <i class="now-ui-icons sport_trophy"></i>
                                </div>
                                <h3 class="info-title"><span id="span_target">160 lb</span></h3>
                                <h6 class="stats-title">Target Weight</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-stats card-raised">
            <div class="card-header">
                <h5 class="card-category">Allowed foods</h5>
                <h4 class="card-title"> Diet plan <span id="span_diet_plan"></span> </h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            Foods
                        </th>
                        <th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                        </thead>
                        <tbody id="tbody_diet_plan">
                            <tr>
                                <td>Milk</td>
                                <td>Water</td>
                                <td>Rice</td>
                                <td>Eggs</td>
                                <td>Potatos</td>
                                <td>Chicken</td>
                                <td>Beans</td>
                                <td>lentils</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-stats card-raised">
            <div class="card-header">
                <h5 class="card-category">Exercise every day</h5>
                <h4 class="card-title"> Exercise plan <span id="span_exercise_plan"></span> </h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                        </thead>
                        <tbody id="tbody_exercise_plan">
                            <tr>
                                <td>Run 1 mile</td>
                                <td>100 push ups</td>
                                <td>Run 1 mile</td>
                                <td>100 push ups</td>
                                <td>Run 1/2 mile and 50 push ups</td>
                                <td>Rest</td>
                                <td>Rest</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        
        $('.datepicker').datetimepicker({
            format: 'YYYY-MM-DD',
            icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });

        $('.selectpicker').selectpicker({
            style: 'btn-info',
            size: 4
        });

        
        $("#btn_filtrar_registros").on("click",function(){
            
            $("#datatable").DataTable().destroy();
            var FechaInicio = $("#dtp_fecha_inicio").val();
            var FechaFin = $("#dtp_fecha_fin").val();
            var Hora = $("#cmb_hora").val();
            var HoraInicio = Hora;
            var HoraFin = Hora;

            if(Hora == "00")
                HoraFin = "23";
            
            regresa_chart_conteo(FechaInicio,FechaFin,HoraInicio,HoraFin);
            regresa_totales_in_out(FechaInicio,FechaFin,HoraInicio,HoraFin);

            $.post("assets/php/Funciones.php",{Action:"get_conteo_registros_fechas",FechaInicio:FechaInicio,FechaFin:FechaFin,HoraInicio:HoraInicio,HoraFin:HoraFin},function(data){

            var Row = "";
            $("#tbody_registros").html("");
            
            for(var i=0;i<data.length;i++)
            {
                Row += "<tr>";
                    Row += "<td>"+data[i].Ubicacion+"</td>";
                    Row += "<td>"+data[i].Camara+"</td>";
                    Row += "<td class='label-in'>"+data[i].Total_In+"</td>";
                    Row += "<td class='label-out'>"+data[i].Total_Out+"</td>";
                    Row += "<td class='text-right'>"+data[i].Start_Time+"</td>";
                Row += "</tr>";
            }
            $("#tbody_registros").html(Row);

            //DataTables
            
            $('#datatable').DataTable({
                "pagingType": "full_numbers",
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                responsive: true,
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },
                dom: 'Bfrtip',
                buttons: [
                {
                    extend: 'copy',
                    text: 'Copiar',
                    className: 'btn btn-info',
                    key: {
                        key: 'c',
                        altKey: true
                    }
                },
                {
                    extend: 'csv',
                    text: 'Exportar csv',
                    className: 'btn btn-info',
                    filename: 'Registros_csv',
                    exportOptions: {
                            modifier: {
                            page: 'all'
                            }
                        }
                },
                {
                    extend: 'excel',
                    text: 'Exportar excel',
                    className: 'btn btn-info',
                    filename: 'Registros_excel',
                    exportOptions: {
                            modifier: {
                            page: 'all'
                            }
                        }
                }]

            });


            var table = $('#datatable').DataTable();

            // Edit record
            table.on( 'click', '.edit', function () {
            $tr = $(this).closest('tr');

            var data = table.row($tr).data();
            alert( 'You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.' );
            } );

            // Delete a record
            table.on( 'click', '.remove', function (e) {
            $tr = $(this).closest('tr');
            table.row($tr).remove().draw();
            e.preventDefault();
            } );

            //Like record
            table.on( 'click', '.like', function () {
            alert('You clicked on Like button');
            });

            //DataTables

            },"JSON");

        });
        
        // Almacenar Fecha Actual
        var FechaInicio = '2018-01-01';
        var FechaFin = regresa_fecha();
        var Hora = $("#cmb_hora").val();
        var HoraInicio = Hora;
        var HoraFin = Hora;

        if(Hora == "00")
            HoraFin = "23";

        regresa_totales_in_out(FechaInicio,FechaFin,HoraInicio,HoraFin);
        
        $.post("assets/php/Funciones.php",{Action:"get_conteo_registros_acumulado"},function(data){

            var Row = "";
            var Acumulado = 0;
            $("#tbody_registros_acumulado").html("");
            for(var i=0;i<data.length;i++)
            {
                Row += "<tr>";
                    Row += "<td>"+data[i].Ubicacion+"</td>";
                    Row += "<td>"+data[i].IP+"</td>";
                    Row += "<td>"+data[i].Camara+"</td>";
                    Row += "<td class='label-in'>"+data[i].Total_In+"</td>";
                    Row += "<td class='label-out'>"+data[i].Total_Out+"</td>";
                    Row += "<td class='label-in'>"+(Number(data[i].Total_In)+Number(data[i].Total_Out))+"</td>";
                Row += "</tr>";
                Acumulado += (Number(data[i].Total_In)+Number(data[i].Total_Out));
            }
            $("#span_acumulado").text(Acumulado);
            $("#tbody_registros_acumulado").html(Row);
        },"JSON");

        $.post("assets/php/Funciones.php",{Action:"get_conteo_registros_fechas",FechaInicio:FechaInicio,FechaFin:FechaFin,HoraInicio:HoraInicio,HoraFin:HoraFin},function(data){

            var Row = "";
            $("#tbody_registros").html("");
            for(var i=0;i<data.length;i++)
            {
                Row += "<tr>";
                    Row += "<td>"+data[i].Ubicacion+"</td>";
                    Row += "<td>"+data[i].Camara+"</td>";
                    Row += "<td class='label-in'>"+data[i].Total_In+"</td>";
                    Row += "<td class='label-out'>"+data[i].Total_Out+"</td>";
                    Row += "<td class='text-right'>"+data[i].Start_Time+"</td>";
                Row += "</tr>";
            }
            $("#tbody_registros").html(Row);

            //DataTables

            $('#datatable').DataTable({
                "pagingType": "full_numbers",
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                responsive: true,
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },
                dom: 'Bfrtip',
                buttons: [
                {
                    extend: 'copy',
                    text: 'Copiar',
                    className: 'btn btn-info',
                    key: {
                        key: 'c',
                        altKey: true
                    }
                },
                {
                    extend: 'csv',
                    text: 'Exportar csv',
                    className: 'btn btn-info',
                    filename: 'Registros_csv',
                    exportOptions: {
                            modifier: {
                            page: 'all'
                            }
                        }
                },
                {
                    extend: 'excel',
                    text: 'Exportar excel',
                    className: 'btn btn-info',
                    filename: 'Registros_excel',
                    exportOptions: {
                            modifier: {
                            page: 'all'
                            }
                        }
                }]

            });


        var table = $('#datatable').DataTable();

        // Edit record
        table.on( 'click', '.edit', function () {
        $tr = $(this).closest('tr');

        var data = table.row($tr).data();
        alert( 'You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.' );
        } );

        // Delete a record
        table.on( 'click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        table.row($tr).remove().draw();
        e.preventDefault();
        } );

        //Like record
        table.on( 'click', '.like', function () {
        alert('You clicked on Like button');
        });

        //DataTables

        },"JSON");

    function regresa_totales_in_out(FechaInicio,FechaFin,HoraInicio,HoraFin)
    {
        $.post("assets/php/Funciones.php",{Action:"get_total_calafias"},function(data){
            $("#span_total_calafias").text(data[0].Total);
        },"JSON");
        
        $.post("assets/php/Funciones.php",{Action:"get_total_entradas",FechaInicio:FechaInicio,FechaFin:FechaFin,HoraInicio:HoraInicio,HoraFin:HoraFin},function(data){
            $("#span_total_entradas").text(data[0].Total);
            
            $.post("assets/php/Funciones.php",{Action:"get_total_salidas",FechaInicio:FechaInicio,FechaFin:FechaFin,HoraInicio:HoraInicio,HoraFin:HoraFin},function(data){
                $("#span_total_salidas").text(data[0].Total);
                
                var Total_Entradas = Number($("#span_total_entradas").text());
                var Total_Salidas = Number($("#span_total_salidas").text());
                $("#span_total_entradas_salidas").text((Total_Entradas + Total_Salidas));

            },"JSON");

        },"JSON");
    }

    });
</script>