.label-in{
    font-weight: 600;
    color: green;
}

.label-out{
    font-weight: 600;
    color: red;
}

.card-stats .statistics {
    position: relative;
    text-align: center;
    padding: 15px 0;
}

.info .icon>i {
    font-size: 2.3em;
}

.info .info-title {
    margin: 15px 0 5px;
    padding: 0 15px;
    color: #2c2c2c;
    font-weight: 700;
}

.card-stats .statistics .stats-title {
    margin-bottom: 5px;
    color: #9a9a9a;
    font-weight: 400;
}

.icon.icon-primary {
    color: #f96332;
    font-size: 1em;
}

.icon.icon-success {
    color: #18ce0f;
    font-size: 1em;
}

.icon.icon-info {
    color: #EA2027;
    font-size: 1em;
}